/* My color variables */
:root {
    --my-white: #FFF7F4;
    --light-orange: #b41e00;
    --dark-orange: #791400;
    --light-blue: #184765;
    --dark-blue: #00121e;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

h2 {
    color: var(--my-white);
    font-size: 2.25rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

/* Nav stuff here */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

nav a {
    color: var(--my-white);
    text-decoration: none;
    display: block;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: var(--dark-orange);
}

/* Welcome section */
#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: var(--light-blue);
    background-image: linear-gradient(to bottom right, var(--light-blue), var(--dark-blue));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#welcome-section img {
    width: 400px;
    height: auto;
    border-radius: 25rem;
}

#welcome-section div {
    max-width: 50rem;
}

#welcome-section h1 {
    color: var(--my-white);
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

#welcome-section h2 {
    font-style: italic;
    margin: 0;
    font-size: 1.6rem;
}

/* My projects */
#projects {
    background-color: var(--dark-blue);
    background-image: linear-gradient(to bottom left, var(--dark-blue), var(--light-blue));
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects h2 {
    text-align: center;
}

#project-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.project-tile {
    text-decoration: none;
    margin: 2rem 0;
}

.project-tile img {
    width: 100%;
    height: auto;
    margin: 0;
}

.project-tile figcaption {
    text-align: center;
    color: var(--my-white);
    background-color: var(--light-orange);
    padding: 2rem;
    position: relative;
    top: -0.25rem;
}

.project-tile figcaption:hover {
    background-color: var(--dark-orange);
    font-size: 1.2rem;
    transition-duration: 0.3s;
}

/* Contact Me */
#contact {
    background-color: var(--light-blue);
    background-image: linear-gradient(to bottom right, var(--light-blue), var(--dark-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#contact-info {
    display: flex;
}

#contact-info a {
    display: flex;
    align-items: center;
    padding: 4rem;
    text-decoration: none;
    color: var(--my-white);
}

#contact-info i {
    padding-right: 0.5rem;
}

#contact-info a:hover {
    transform: translateY(8px);
}

/* Footer stuff here */
footer {
    background-color: var(--dark-blue);
    color: var(--my-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

/* Very minimal responsive design */
@media only screen and (max-width: 800px) {
    #welcome-section {
        flex-direction: column;
        padding: 2rem;
    }

    #contact-info {
        max-width: 500px;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 67rem) {
    html {
        font-size: 0.85rem;
    }
}

@media (max-width: 55rem) {
    html {
        font-size: 0.7rem;
    }
}