/* My color variables */
:root {
    --my-black: #171517;
    --my-white: #F2F4F3;
    --dark-purple: #3B2234;
    --light-green: #56745c;
    --dark-green: #304134;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

h2 {
    color: var(--my-white);
    font-size: 2.25rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

/* Nav stuff here */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-purple);
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

nav a {
    color: var(--my-white);
    text-decoration: none;
    display: block;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: var(--my-black);
}

/* Welcome section */
#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: var(--my-black);
    background-image: linear-gradient(to bottom right, #383838, var(--my-black));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--my-white);
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

#welcome-section h2 {
    font-style: italic;
    margin: 0;
    font-size: 1.6rem;
}

/* My projects */
#projects {
    background-color: var(--light-green);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects h2 {
    text-align: center;
}

#project-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.project-tile {
    text-decoration: none;
    margin: 2rem 0;
}

.project-tile img {
    width: 100%;
    height: auto;
    margin: 0;
}

.project-tile figcaption {
    text-align: center;
    color: var(--my-white);
    background-color: var(--dark-green);
    padding: 2rem;
    position: relative;
    top: -0.25rem;
}

.project-tile figcaption:hover {
    background-color: var(--dark-purple);
    font-size: 1.2rem;
    transition-duration: 0.3s;
}

/* Contact Me */
#contact {
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#contact-info {
    display: flex;
}

#contact-info a {
    display: flex;
    align-items: center;
    padding: 4rem;
    text-decoration: none;
    color: var(--my-white);
}

#contact-info i {
    padding-right: 0.5rem;
}

#contact-info a:hover {
    transform: translateY(8px);
}

/* Footer stuff here */
footer {
    background-color: var(--dark-purple);
    color: var(--my-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

@media (max-width: 67rem) {
    html {
        font-size: 0.85rem;
    }
}

@media (max-width: 55rem) {
    html {
        font-size: 0.7rem;
    }
}