/* My color variables */
/*:root {
    
}*/

body {
    margin: 0;
    padding: 0;
}

/* Nav stuff here */

/* Welcome section */
#welcome-section {
    height: 100vh;
}

/* My projects */

/* Contact Me */

/* Footer stuff here */