* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 20rem;
}

figcaption {
    text-align: center;
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: maroon;
    color: white;
    font-size: large;
}