* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pokemon-yellow: #FFCB05;
    --pokemon-lblue: #3D7DCA;
    --pokemon-dblue: #003A70;
}

@font-face {
    font-family: "Pokemon";
    src: url("../fonts/Pokemon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: var(--pokemon-dblue);
}

h1 {
    font-family: 'Pokemon', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    color: var(--pokemon-yellow);
    text-align: center;
    padding-bottom: 1rem;
}

#formBox {
    background-color: var(--pokemon-lblue);
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#formBox h3 {
    color: white;
}

#formBox button {
    border: none;
    background-color: var(--pokemon-dblue);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.8rem;
    width: 10rem;
    font-size: 1rem;
}

/*#newPokemonForm {
    padding: 1rem 2vw;
    max-width: 50rem;
    margin: 0 auto;
}

#newPokemonForm input {
    padding: 0.3rem;
    margin: 0.5rem;
}

#newPokemonForm label {
    color: white;
}

#newPokemonForm #abilities {
    width: 31.4rem;
}

#newPokemonForm #type {
    width: 36.2rem;
    padding: 0.3rem;
    margin: 0.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#newPokemonForm [type = submit] {
    width: 20rem;
    padding: 0.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--pokemon-dblue);
    border: none;
    color: white;
    margin-left: 28%;
}*/

#pokeGrid {
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 2rem;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.front {
    background-color: var(--pokemon-yellow);
}

.back {
    background-color: var(--pokemon-dblue);
    color: white;
    transform: rotateY(180deg);
}

.back h4 {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.back ul {
    list-style-type: none;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.back li {
    text-transform: capitalize;
}

.back p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    text-transform: capitalize;
}

figure img {
    width: 200px;
    height: auto;
}

figure figcaption {
    text-align: center;
    color: white;
    margin-top: 0.5rem;
    padding: 0.9rem;
    border-radius: 0 0 10px 10px;
}

h3 {
    text-align: center;
}

#pokeTable {
    width: 60rem;
    margin: 1rem auto;
    border-collapse: collapse;
}

#pokeTable th {
    background-color: #5A5A5A;
    color: white;
    text-align: left;
    padding: 0.75rem 2vw;
}

#pokeTable td {
    padding: 0.5rem 2vw;
    text-transform: capitalize;
}

#pokeTable tr:nth-child(odd) {
    background-color: #f1f1f1;
}

#pokeTable tr:hover {
    background-color: rgba(196, 199, 221, 0.5);
}

footer {
    background-color: var(--pokemon-dblue);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 1.5rem;
}